<div style="text-align:center">
  <h1>
  Welcome to {{ title }}
  </h1>
</div>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button justify-content-center">

  <div class="d-flex justify-content-center" id="navbarNav">
    <div style="margin: 0 auto;">
      <div class="navbar-nav">
        <a class="submit-button text-center" style="margin:0em 1em" href="#">My Prayers</a>
        <a class="submit-button text-center" style="margin:0em 1em" routerLink="/create">Create Prayer</a>
        <a class="submit-button text-center" style="margin:0em 1em" routerLink="/edit">Edit Prayer</a>
        <a class="submit-button text-center" style="margin:0em 1em" routerLink="/delete">Delete Prayer</a>
        <a class="submit-button text-center" style="margin:0em 1em" (click)="displayPrayerList()">Prayer List</a>
        <button class="submit-button text-center" style="margin:0em 1em" (click)="displayVersion()">About</button>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>




